.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  .input-group {
    width: 50%;
  }
  .con {
    width: 50%;
    .con1 {
      display: flex;
      justify-content: space-between;
    }
  }
}
